html,
body {
  font-family: "Times New Roman", serif;

  width: 100vw;
  height: 100vh;
  user-select: none;
  margin: 0px;
}

/* get rid of default link styling */
a {
  color: inherit;
  text-decoration: inherit;
}

/* off-white backgrounds colors */
.yellow-bg {
  background-color: #FFF8E6;
}

.purple-bg {
  background-color: #fcebff;
}

.blue-bg {
  background-color: #efffff;
}

.green-bg {
  background-color: #eaffee;
}

/* visited link colors */
.yellow-link:visited {
  color: #c4ad6c;
}

.purple-link:visited {
  color: #bf89c2;
}

.blue-link:visited {
  color: #6cc4bd;
}

.green-link:visited {
  color: #6a9f70;
}

.waves-bg {
  /* livingstills.nl */
  background-image: url(assets/waves.gif);
  background-size: cover;
  background-attachment: fixed;
}


* {
  user-select: none !important;
}

@media screen and (max-width: 600px) {
}


#page {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 80px;
  padding-bottom: 80px;
}



#header {
  font-size: 32px;
  margin-bottom: 48px;

  /* nice big aesthetic calming deadzones */

  /* dont let the menu items go toooo far right on huge screens */
  max-width: 900px;
}

#name {
  display: inline;
}


/* container for menu items (work, about blog) */
#header-menu-wrapper {
  float: right;
}

.header-menu-item {
  display: inline;
  margin-left: 14px;
  margin-right: 14px;
}

.header-menu-item:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
}

/* to indicate what page we're on */
.underline-dashed {
  text-decoration: underline;
  text-decoration-style: dashed;
}

#project-list {
}

.project-item {
  margin-top: 32px;
  margin-bottom: 32px;
}

.project-title {
  font-size: 28px;
  display: inline;
}

.project-subtitle {
  font-size: 16px;
  margin-left:32px;
  display: inline;
}

/* hover effects */

.blacked-out {
  left: 1000px;
  color: black;
  background-color: black;
}


