html,
body {
  font-family: "Times New Roman", serif;
  font-size: 32px;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  user-select: none;

  background-color: #f9f3d6;
  /*
   
  off-whites:
  yellow: f9f3d6
  another yellow: faefcd

  foregrounds:

   */
}

* {
  user-select: none !important;
}

@media screen and (max-width: 600px) {
}



#header {
  /* nice big aesthetic calming deadzones */
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 80px;
  margin-bottom: 80px;

  /* dont let the menu items go toooo far right on huge screens */
  max-width: 900px;
}

#name {
  display: inline;
}


/* container for menu items (work, about blog) */
#header-menu-wrapper {
  float: right;
}

.header-menu-item {
  display: inline;
}


